legacy-peer-deps=true
auto-install-peers=true
strict-peer-dependencies=false
registry=https://registry.npmjs.org/
fetch-retries=3
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
network-timeout=300000
node-linker=hoisted
shamefully-hoist=true
public-hoist-pattern[]=*
